spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/order_db
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    bootstrap-servers: kafka:29092
server:
  port: 8080

# Profile-specific config used when SPRING_PROFILES_ACTIVE=docker
